/**** Importation de la police "Sora" ****/

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
}

/**** body ****/

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001858;
    color: #fffffe;
    font-family: "Sora", sans-serif;
}

/**** h1 ****/

h1 {

    line-height: 1.5;
}

/**** main ****/

.main__content {
    display: grid;
    gap: 50px;
    width: min(600px, 90%);
    margin-block: auto;
}

/**** div progress__bar__container ****/

.progress__bar__container {
    position: relative;
}

.progress__bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 100%;
    height: 4px;
    background-color: #fffffe;
}

.progress {
    width: 100%;
    height: 100%;
    background-color: #f582ae;
    transform: scaleX(0);
    transform-origin: 0;
    transition: 0.3s;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fffffe;
    color: #001858;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    transition: 0.3s all 0.3s;
    transform: none;
}

.step.active {
    background-color: #f582ae;
    color: #fffffe;
}

/**** div buttons ****/

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttons button {
    background-color: #f582ae;
    color: #fffffe;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.buttons button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}